# Ignore Mac/Windows system files
.DS_Store
Thumbs.db

# Ignore Python stuff
__pycache__/
*.py[cod]
backend/venv/
backend/.env

# Ignore Node (Frontend) stuff
frontend/node_modules/
frontend/dist/

# Google Calendar Secrets
backend/credentials.json
backend/token.json